html {
    margin: 0;
    padding: 0;
    box-sizing: border;
}

body {
    background-color: #f0ead1;
    margin: 0px;
}

header {
    position: sticky;
    top: 0px;
    z-index: 2;
}

main {
    margin: 0 30px;
}

.mainHeader {
    background-color: #666a86;
    border: solid #333333;
}

.separator {
    color: #333333;
    font-style: bold;
}

.secondHeader {
    background-color: #333333;
    border: solid #333333;
}

.header-flex {
    margin: 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 5px;
    }
}

.singIn-logIn-box {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 280px;
    margin-top: 5px;

    @media screen and (max-width: 768px) {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}

.ideoLogo {
    width: 100px;
}

.featuredCategoriesGrid {
    display: flex;
    width: auto;
    gap: 15px;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.featuredCategories {
    width: 100%;
}

.imgContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    position: relative;
}

.imgStyle {
    width: 600px;
    height: 600px;
    object-fit: cover;

    @media screen and (max-width: 768px) {
        width: auto;
        height: auto;
        justify-content: center;
        align-items: center;
    }
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.containerMenu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #666a86;
    border: solid;
    color: #e8ddb5;
    border-color: #d4e2ec;
    min-width: 200px;
    padding: 2px;
    z-index: 1;
        @media screen and (max-width: 768px) {
        width: auto;
        height: auto;
        justify-content: center;
        align-items: center;
    }
}

.featuredItemsGrid {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    @media screen and (max-width: 768px) {
        width: auto;
        height: auto;
        justify-content: center;
        align-items: center;
    }
}

.itemsContent {
    display: flex;
    flex-wrap: wrap;
}

.featuredItems {
    color: #e8ddb5;
    background-color: #666a86;
    border: 1px solid black;
    width: 600px;
    height: 660px;
    @media screen and (max-width: 768px) {
        width: auto;
        height: auto;
        justify-content: center;
        align-items: center;
    }
}

header li {
    display: inline;
    color: #e8ddb5;
}

a {
    color: #e8ddb5;
}

.categories {
    background-color: grey;
    border: 1px solid black;
    width: 200px;
    height: 200px;
}

.homeAndLivingItems {
    background-color: grey;
    border: 1px solid black;
    width: 24%;
    height: 350px;
}

.header,
h1,
.containerMenu,
.categories,
.home,
.homeAndLivingItems,
button {
    text-align: center;
}

.homeAndLivingItemView{
    @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    }
}

div {
    text-align: center;
}

.ItemView {
    background-color: grey;
    border: 1px solid black;
    width: 24%;
    height: 350px;
    display: inline-block;
    @media screen and (max-width: 768px) {
        width:100%
    }
}

.orderTracking {
    text-align: center;
}

.homeAndLivingGrid {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.homeAndLivingContent {
    display: flex;
    gap: 15px;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.homeAndLivingItems {
    width: 100%;
}

button {
    background-color: #666a86;
    color: white;
}

a:visited {
    color: #e8ddb5;
}