// vars

$mainFont: 'Roboto', sans-serif;
$secondaryFont: Verdana, sans-serif;
$mainColor: #e8ddb5;
$secondaryColor: #333333;
$white: rgb(241, 232, 232);
$black: rgb(21, 21, 21);

$textSm: 1.1em;
$textMd: 1.5em;
$textLg: 3em;
$textXl: 4em;

$mainBackground: #f0ead1;
$secondaryBackground: #666a86;
$borderColor: #d4e2ec;