<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../multimedia/ideo-logo.jpg" type="image/x-icon">
</head>

<body>
    <header>
        <div class="header">
            <div class="mainHeader">
                <nav>
                    <ul>
                        <li>
                            <a href="../view/home-and-living.html">Home & Living</a>
                        </li>
                        <li class="separator">|</li>
                        <li>Electronics</li>
                        <li class="separator">|</li>
                        <li>Hoseware & Kitchen</li>
                        <li class="separator">|</li>
                        <li>Pets</li>
                        <li class="separator">|</li>
                        <li>
                            <a href="../view/order-tracking.html">Order Tracking</a>
                        </li>
                        <li class="separator">|</li>
                        <li>
                            <a href="../view/about-us.html">About Us</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="secondHeader">
                <div class="header-flex">

                    <button>
                        <a href="../view/about-us.html">About Us</a>
                    </button>
                    <a href="../index.html">
                        <img class="ideoLogo" src="../multimedia/ideo-logo.jpg" alt="Logo de Ideo">
                    </a>

                    <div class="wrapper-styles">
                        <div class="search-regret-box">
                            <input type="text" placeholder="Search">
                            <button>Regret button</button>
                        </div>
                        <div class="singIn-logIn-box">
                            <button>Sing In</button>
                            <button>Log In</button>
                        </div>
                    </div>
                </div>
            </div>
    </header>
    <main>
        <h1>About Us</h1>
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus animi ad ipsum provident rerum
            reiciendis
            doloribus, sed eligendi dolor, sint veritatis facere id nihil, incidunt dicta cum sit omnis quia.</p>
        <h2>Our Guarantee</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique in temporibus cum assumenda veniam
            excepturi?
            Repellendus cum possimus voluptas vitae reprehenderit tenetur, aliquam voluptatem architecto, ea nihil
            molestias
            neque veniam?</p>
        <h2>Ideo Team</h2>
        <p>Email suppor@ideothebrand.co</p>
        <h2>Support Time</h2>
        <p>Monday - Saturday, 9:00 AM - 9:00 PM (PST)<br>(You can still email us outside of business hours and we will
            respond within 24 hours)</p>
    </main>
    <footer>
        <hr>
        <h4>Ideo Team</h4>
        <p>Email: support@ideothebrand.com</p>
        <h4>Support Time</h4>
        <p>Monday - Saturday: 9:00 AM - 6:00 PM (PST)</p>
        <p>(You can still email us outside of business hours and we will respond within 24 hours)</p>
    </footer>
</body>

</html>