<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../multimedia/ideo-logo.jpg" type="image/x-icon">
</head>

<body>
    <header>
        <div class="header">
            <div class="mainHeader">
                <nav>
                    <ul>
                        <li>
                            <a href="../view/home-and-living.html">Home & Living</a>
                        </li>
                        <li class="separator">|</li>
                        <li>Electronics</li>
                        <li class="separator">|</li>
                        <li>Hoseware & Kitchen</li>
                        <li class="separator">|</li>
                        <li>Pets</li>
                        <li class="separator">|</li>
                        <li>
                            <a href="../view/order-tracking.html">Order Tracking</a>
                        </li>
                        <li class="separator">|</li>
                        <li>
                            <a href="../view/about-us.html">About Us</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="secondHeader">
                <div class="header-flex">

                    <button>
                        <a href="../view/about-us.html">About Us</a>
                    </button>
                    <a href="../index.html">
                        <img class="ideoLogo" src="../multimedia/ideo-logo.jpg" alt="Logo de Ideo">
                    </a>

                    <div class="wrapper-styles">
                        <div class="search-regret-box">
                            <input type="text" placeholder="Search">
                            <button>Regret button</button>
                        </div>
                        <div class="singIn-logIn-box">
                            <button>Sing In</button>
                            <button>Log In</button>
                        </div>
                    </div>
                </div>
            </div>
    </header>
    <main>
        <div class="orderTracking">
            <h1>Order Tracking</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id totam magni, suscipit praesentium cumque
                ipsam
                veritatis qui laboriosam explicabo nam fuga porro voluptas tenetur similique sapiente? Aliquam sunt
                inventore adipisci.</p>
            <h2>UNITED STATES</h2>
            <input type="text"><br>
            <button>FIND ORDER</button>
            <h2>WORLDWIDE</h2>
            <input type="text"><br>
            <button>FIND ORDER</button>
        </div>
        <footer>
            <hr>
            <h4>Ideo Team</h4>
            <p>Email: support@ideothebrand.com</p>
            <h4>Support Time</h4>
            <p>Monday - Saturday: 9:00 AM - 6:00 PM (PST)</p>
            <p>(You can still email us outside of business hours and we will respond within 24 hours)</p>
        </footer>
    </main>
</body>

</html>